<img src="sample.jpg" />
<h1>Quis est tam dissimile homini.</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Igitur ne dolorem quidem. Confecta res esset. Hunc vos beatum; Satis est ad hoc responsum. Quae sequuntur igitur? Obsecro, inquit, Torquate, haec dicit Epicurus? Duo Reges: constructio interrete. Cur iustitia laudatur? </p>

<p>Quoniam, si dis placet, ab Epicuro loqui discimus. Duo enim genera quae erant, fecit tria. De hominibus dici non necesse est. </p>

<h2>Duo enim genera quae erant, fecit tria.</h2>

<p>Tecum optime, deinde etiam cum mediocri amico. Primum quid tu dicis breve? Quamquam te quidem video minime esse deterritum. Egone quaeris, inquit, quid sentiam? Quis istud possit, inquit, negare? Si longus, levis; Si quae forte-possumus. </p>

