<h1>Quam ob rem tandem, inquit, non satisfacit?</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid, quod homines infima fortuna, nulla spe rerum gerendarum, opifices denique delectantur historia? Quid affers, cur Thorius, cur Caius Postumius, cur omnium horum magister, Orata, non iucundissime vixerit? Semper enim ita adsumit aliquid, ut ea, quae prima dederit, non deserat. Peccata autem partim esse tolerabilia, partim nullo modo, propterea quod alia peccata plures, alia pauciores quasi numeros officii praeterirent. Themistocles quidem, cum ei Simonides an quis alius artem memoriae polliceretur, Oblivionis, inquit, mallem. Duo Reges: constructio interrete. Verum esto: verbum ipsum voluptatis non habet dignitatem, nec nos fortasse intellegimus. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Nam quibus rebus efficiuntur voluptates, eae non sunt in potestate sapientis. Restat locus huic disputationi vel maxime necessarius de amicitia, quam, si voluptas summum sit bonum, affirmatis nullam omnino fore. Quamquam tu hanc copiosiorem etiam soles dicere. </p>

<p>Quodsi vultum tibi, si incessum fingeres, quo gravior viderere, non esses tui similis; Non quaeritur autem quid naturae tuae consentaneum sit, sed quid disciplinae. Quod autem principium officii quaerunt, melius quam Pyrrho; Et tamen quid attinet luxuriosis ullam exceptionem dari aut fingere aliquos, qui, cum luxuriose viverent, a summo philosopho non reprehenderentur eo nomine dumtaxat, cetera caverent? Quis enim potest ea, quae probabilia videantur ei, non probare? </p>

<p>At enim iam dicitis virtutem non posse constitui, si ea, quae extra virtutem sint, ad beate vivendum pertineant. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Si ista mala sunt, in quae potest incidere sapiens, sapientem esse non esse ad beate vivendum satis. Solum praeterea formosum, solum liberum, solum civem, stultost; Quod autem in homine praestantissimum atque optimum est, id deseruit. Nihil enim desiderabile concupiscunt, plusque in ipsa iniuria detrimenti est quam in iis rebus emolumenti, quae pariuntur iniuria. </p>

<h3>Omnes enim iucundum motum, quo sensus hilaretur.</h3>

<p>Si enim, ut mihi quidem videtur, non explet bona naturae voluptas, iure praetermissa est; Et hunc idem dico, inquieta sed ad virtutes et ad vitia nihil interesse. Sed quia studebat laudi et dignitati, multum in virtute processerat. Portenta haec esse dicit, neque ea ratione ullo modo posse vivi; Ipse negat, ut ante dixi, luxuriosorum vitam reprehendendam, nisi plane fatui sint, id est nisi aut cupiant aut metuant. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Si vero id etiam explanare velles apertiusque diceres nihil eum fecisse nisi voluptatis causa, quo modo eum tandem laturum fuisse existimas? Quis enim potest ea, quae probabilia videantur ei, non probare? Huius, Lyco, oratione locuples, rebus ipsis ielunior. Quid affers, cur Thorius, cur Caius Postumius, cur omnium horum magister, Orata, non iucundissime vixerit? Inquit, an parum disserui non verbis Stoicos a Peripateticis, sed universa re et tota sententia dissidere? </p>

<h2>Praeterea sublata cognitione et scientia tollitur omnis ratio et vitae degendae et rerum gerendarum.</h2>

<p>Polemoni et iam ante Aristoteli ea prima visa sunt, quae paulo ante dixi. Haec qui audierit, ut ridere non curet, discedet tamen nihilo firmior ad dolorem ferendum, quam venerat. Id et fieri posse et saepe esse factum et ad voluptates percipiendas maxime pertinere. Ratio quidem vestra sic cogit. Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii. Quarum cum una sit, qua mores conformari putantur, differo eam partem, quae quasi stirps ets huius quaestionis. Quos quidem tibi studiose et diligenter tractandos magnopere censeo. Roges enim Aristonem, bonane ei videantur haec: vacuitas doloris, divitiae, valitudo; </p>

