

	

---------------------------


	<div id="calibre_link-4" class="block_15">3&nbsp;<b class="calibre1">Взаимодействие посредством условных GET-запросов</b></div>
</div>
	<p class="block_7">Большинство веб-браузеров выполняют кэширование объектов и, соответственно, производят условный <span lang="de" class="calibre2">GET</span>-запрос при запросе <span lang="en" class="calibre2">HTTP</span>-объекта. Перед выполнением нижеприведенных шагов убедитесь, что кэш браузера чист. Теперь сделайте следующее:</p>
	<ol class="list_1">
	<li class="block_20">Запустите захват пакетов в <span lang="en" class="calibre2">Wireshark</span>. </li>
	<li class="block_20">Перейдите в браузер</li>
	<li class="block_20">Теперь необходимо обновить страницу сочетанием клавиш <span lang="en" class="calibre2">CTRL</span>+<span lang="en" class="calibre2">F</span>5. В таком случае браузер проигнорирует кэш и запросит страницу полностью.</li>
	<li class="block_20">Затем обновите страницу кнопкой «Обновить» или одной клавишей <span lang="en" class="calibre2">F</span>5.</li>
	<li class="block_21"><span class="text_3">Остановите захват пакетов в </span><span lang="en" class="text_3">Wireshark</span><span class="text_3"> и введите </span><span lang="en" class="text_5">http</span><span class="text_5"> </span><span class="text_3">в поле фильтра, чтобы в окне списка после этого отображались только </span><span lang="en" class="text_3">HTTP</span><span class="text_3">-сообщения.</span></li>
</ol>
	<p class="block_7">Ответьте на следующие вопросы:</p>
	<ul class="list_">
	<li class="block_29"><span class="text_3">Изучите содержимое первого </span><span lang="de" class="text_3">GET</span><span class="text_3">-запроса от вашего браузера серверу. Видите ли вы строку </span><span lang="en" class="text_5">IF-MODIFIED-SINCE </span><span class="text_3">в запросе?</span></li>
	<li class="block_27">Проверьте ответ сервера. Возвращает ли он содержимое файла?</li>
	<li class="block_29"><span class="text_3">Теперь изучите содержимое второго </span><span lang="de" class="text_3">GET</span><span class="text_3">-запроса серверу. Видите ли вы теперь строку </span><span lang="de" class="text_5">IF-MODIFIED-SINCE </span><span class="text_3">в запросе? Если да, то какая информация идет после заголовка </span><span lang="de" class="text_5">IF-MODIFIED-SINCE</span><span lang="de" class="text_3">?</span></li>
	<li class="block_30">Что возвращает сервер в ответ на второй запрос (код состояния и фраза)? Возвращает ли он содержимое файла? Почему?</li>
</ul>
	

---------------------------


	<div id="calibre_link-5" class="block_15">4&nbsp;<b class="calibre1">Запрос больших документов</b></div>
</div>
	<p class="block_7">В предыдущих примерах запрашиваемые документы представляли собой простые и короткие <span lang="en" class="calibre2">HTML</span>-файлы. Теперь поглядим, что происходит при загрузке большого <span lang="de" class="calibre2">HTML- </span>документа. Выполните следующее:</p>
	<ol class="list_1">
	<li class="block_20">Запустите захват пакетов в <span lang="en" class="calibre2">Wireshark</span>. </li>
	<li class="block_20">Введите в адресную строку браузера </li>
</ol>
	<p class="block_7"><a target="_blank"  href="http://arseniy899.gitlab.io/httplab/long.html" class="text_">http://arseniy899.gitlab.io/httplab/long.html</a></p>
	<ol class="list_1">
	<li value="3" class="block_20">Ваш браузер должен отобразить довольно длинный документ с описанием синтаксиса языка разметки <span lang="en" class="calibre2">HTML</span>.</li>
	<li class="block_21"><span class="text_3">Остановите захват пакетов в </span><span lang="en" class="text_3">Wireshark</span><span class="text_3"> и введите </span><span lang="en" class="text_5">http</span><span class="text_5"> </span><span class="text_3">в поле фильтра, чтобы в окне списка после этого отображались только </span><span lang="en" class="text_3">HTTP</span><span class="text_3">-сообщения.</span></li>
</ol>
	<p class="block_8"><span class="text_3">В окне списка пакетов вы должны увидеть ваш </span><span lang="de" class="text_3">GET</span><span class="text_3">-запрос, а затем несколько ответных </span><span lang="en" class="text_3">TCP</span><span class="text_3">-пакетов. Их появление стоит немного пояснить. Ответное сообщение </span><span lang="en" class="text_3">HTTP</span><span class="text_3"> включает строку состояния, строки заголовка, пустую строку и тело объекта. В случае нашего запроса телом объекта в ответе является </span><span class="text_8">весь </span><span class="text_3">запрашиваемый </span><span lang="en" class="text_3">HTML</span><span class="text_3">-файл. Но размер нашего </span><span lang="en" class="text_3">HTML</span><span class="text_3">-файла достаточно большой, и 4200 байт не помещаются в одном пакете </span><span lang="en" class="text_3">TCP</span><span class="text_3">. Поэтому с помощью протокола </span><span lang="en" class="text_3">TCP</span><span class="text_3"> одно ответное сообщение разбивается на несколько частей, и каждая часть содержится в отдельном сегменте </span><span lang="en" class="text_3">TCP</span><span class="text_3">. В последних версиях </span><span lang="en" class="text_3">Wireshark</span><span class="text_3"> каждый сегмент </span><span lang="en" class="text_3">TCP</span><span class="text_3"> показан в качестве отдельного пакета, а тот факт, что одно ответное </span><span lang="en" class="text_3">HTTP</span><span class="text_3">-сообщение было фрагментировано на несколько пакетов </span><span lang="en" class="text_3">TCP</span><span class="text_3">, обозначается в поле </span><span lang="en" class="text_5">Info</span><span class="text_5"> </span><span class="text_3">как [</span><span lang="en" class="text_3">TCP</span><span class="text_3"> </span><span lang="en" class="text_3">segment</span><span class="text_3"> </span><span lang="en" class="text_3">of</span><span class="text_3"> </span><span lang="en" class="text_3">a</span><span class="text_3"> </span><span lang="en" class="text_3">reassembled</span><span class="text_3"> </span><span lang="en" class="text_3">PDU</span><span class="text_3">]. Более ранние версии </span><span lang="en" class="text_3">Wireshark</span><span class="text_3"> для указания того, что содержимое сообщения </span><span lang="en" class="text_3">HTTP</span><span class="text_3"> разбито на несколько сегментов </span><span lang="en" class="text_3">TCP</span><span class="text_3">, использовали фразу </span><span lang="en" class="text_3">Continuation</span><span class="text_3"> (Продолжение). Стоит уточнить, что в синтаксисе самого протокола </span><span lang="en" class="text_3">HTTP</span><span class="text_3"> нет слова </span><span lang="en" class="text_3">Continuation</span><span class="text_3">, то есть он передается только в полностью собранном виде без каких-либо следов разбиения на пакеты.</span></p>
	<p class="block_7">Теперь рекомендуем ответить на следующие вопросы:</p>
	<ul class="list_">
	<li class="block_27">Сколько <span lang="de" class="calibre2">GET</span>-запросов отправил ваш браузер?</li>
	<li class="block_27">Какой пакет в результатах трассировки содержит код состояния и фразу, связанные с <span lang="de" class="calibre2">GET</span>-запросом?</li>
	<li class="block_27">Какой код состояния и фраза в ответном сообщении?</li>
	<li class="block_28">Сколько необходимо сегментов <span lang="en" class="calibre2">TCP</span> для передачи одного <span lang="en" class="calibre2">HTTP</span>-ответа в данном случае?</li>
</ul>
	

---------------------------


	<div id="calibre_link-6" class="block_15">5&nbsp;<b lang="en" class="calibre1">HTML</b><b class="calibre1">-Документы, содержащие встроенные объекты</b></div>
</div>
	<p class="block_7">После того, как мы изучили отображение перехваченного пакетного трафика для случая больших <span lang="en" class="calibre2">HTML</span>-файлов, можем рассмотреть теперь, что происходит при загрузке браузером файла, содержащего встроенные объекты (в примере ниже это файлы изображений), которые хранятся на других веб-серверах.</p>
	<p class="block_31">Выполните следующие действия:</p>
	<ol class="list_1">
	<li class="block_32">Запустите захват пакет в <span lang="de" class="calibre2">Wireshark.</span> </li>
	<li class="block_32">Введите в адресную строку следующий <span lang="de" class="calibre2">URL</span>-адрес: </li>
</ol>
	<p class="block_33"><a target="_blank"  href="http://arseniy899.gitlab.io/httplab/img.html" class="calibre3"><span class="text_">http://arseniy899.gitlab.io/httplab/</span><span lang="en" class="text_">img</span><span class="text_">.</span><span lang="en" class="text_">html</span></a></p>
	<ol class="list_1">
	<li value="3" class="block_32">Ваш браузер должен отобразить документ <span lang="de" class="calibre2">HTML, </span>в котором использовано изображение. </li>
	<li class="block_34"><span class="text_3">Остановите захват пакетов в </span><span lang="de" class="text_3">Wireshark </span><span class="text_3">и введите </span><span lang="de" class="text_5">http </span><span class="text_3">в поле фильтра, чтобы в окне списка отображались только </span><span lang="en" class="text_3">HTTP</span><span class="text_3">-сообщения.</span></li>
	<li class="block_35">Теперь стоит внимательнее взглянуть на содержимое ответа от сервера. В 30 строчке тела ответа можно обнаружить сочетание </li>
</ol>
	<p class="block_36" lang="en">&lt;img src="sample.jpg"</p>
	<p class="block_33">Как видно, в загружаемом <span lang="de" class="calibre2">HTML </span>содержится только информация об изображении, в частности &ndash; </p>
	<p class="block_33"><span lang="en" class="calibre2">URL</span>-адрес.</p>
	<p class="block_7">Ответьте на следующие вопросы:</p>
	<ul class="list_">
	<li class="block_37">Сколько <span lang="de" class="calibre2">GET</span>-запросов отправил ваш браузер? На какие <span lang="en" class="calibre2">IP</span>-адреса в Интернете были отправлены эти запросы?</li>
	<li class="block_38">Можете ли вы сказать, каким способом ваш браузер загрузил изображения с двух веб-сайтов - параллельно или один за другим? Объясните.</li>
</ul>
	

---------------------------


	<div id="calibre_link-7" class="block_15">6&nbsp;<b class="calibre1">Перехват данных для аутентификации в </b><b lang="en" class="calibre1">HTTP</b></div>
</div>
	<p class="block_7">Наконец, давайте попробуем посетить веб-сайт, который защищен паролем, и изучить последовательность <span lang="en" class="calibre2">HTTP</span>-сообщений при обмене с таким сайтом.</p>
	<p class="block_7"><span lang="de" class="calibre2"> </span>Выполните следующие действия:</p>
	<ol class="list_1">
	<li class="block_32">Убедитесь, что кэш вашего браузера очищен, как обсуждалось выше, затем закройте браузер и снова откройте его.</li>
	<li class="block_32">Запустите программу <span lang="de" class="calibre2">Wireshark.</span></li>
	<li class="block_32">Введите в адресную строку следующий <span lang="de" class="calibre2">URL: </span><a target="_blank"  href="http://www.httpwatch.com/httpgallery/authentication/authenticatedimage/default.aspx" class="text_">http://www.httpwatch.com/httpgallery/authentication/authenticatedimage/default.aspx</a></li>
</ol>
	<p class="block_39">Введите имя пользователя <b class="calibre1">httpwatch</b> и любой пароль.</p>
	<ol class="list_1">
	<li value="4" class="block_32">Остановите захват пакетов в <span lang="de" class="calibre2">Wireshark </span>и введите <b lang="de" class="calibre1">http </b>в поле фильтра, чтобы в окне списка отображались только <span lang="en" class="calibre2">HTTP</span>-сообщения.</li>
</ol>
	<p class="block_7">Теперь можно посмотреть результаты вывода <span lang="de" class="calibre2">Wireshark</span> и ответить на следующие вопросы:</p>
	<ul class="list_">
	<li class="block_40">Каков первоначальный ответ сервера (код состояния и фраза) на первый <span lang="de" class="calibre2">GET</span>-запрос вашего браузера?</li>
</ul>
	<ul class="list_">
	<li class="block_27">Какие новые поля добавляются в <span lang="de" class="calibre2">GET</span>-сообщение при втором запросе браузера? </li>
</ul>
	<p class="block_41"><span class="text_9">Имя пользователя и пароль</span><span lang="de" class="text_9">, </span><span class="text_9">которые вы ввели, преобразуются в строку символов вида </span><span class="text_10">aHR0cHdhdGNoOjEyMw== </span><span class="text_9">после которой в </span><span lang="de" class="text_9">GET- </span><span class="text_9">запросе клиента следует строка заголовка </span><span lang="de" class="text_11">Authorization</span><span lang="de" class="text_9">: </span><span lang="de" class="text_11">Basic</span><span lang="de" class="text_12">. </span><span class="text_9">На первый взгляд может показаться, что ваше имя пользователя и пароль зашифрованы, но на самом деле они просто кодируются в формат, известный как </span><span lang="de" class="text_9">Base64, </span><span class="text_9">а не шифруются! Чтобы убедиться в этом, перейдите на страницу<span class="calibre9">  </span></span></p>
	<p class="block_7"><a target="_blank"  href="http://arseniy899.gitlab.io/httplab/base64.html" class="calibre3"><span class="text_">http://arseniy899.gitlab.io/httplab/</span><span lang="en" class="text_">base</span><span class="text_">64.html</span></a></p>
	<p class="block_42">введите в кодировке <span lang="de" class="calibre2">base64 </span>строк и нажмите кнопку Декодировать. Вы перевели строку из формата <span lang="de" class="calibre2">Base64 </span>в обычный <span lang="de" class="calibre2">ASCII, </span>и можете увидеть свое имя пользователя! Поскольку любой желающий может загрузить такой инструмент, как <span lang="de" class="calibre2">Wireshark, </span>и анализировать проходящие через его сетевой интерфейс (не только свои) пакеты, и любой может перевести строку из формата <span lang="de" class="calibre2">Base64 </span>в <span lang="de" class="calibre2">ASCII</span>, то должно быть очевидно, что простое использование паролей на веб-сайтах без дополнительных мер небезопасно!</p>
	

---------------------------


	<div id="calibre_link-8" class="block_15">7&nbsp;<b class="calibre1">Интерфейс для приложений</b></div>
</div>
	<p class="block_7">Как уже было отмечено ранее, протокол <span lang="en" class="calibre2">HTTP</span> используется не только для загрузки веб-страниц, но и для получения данных приложениями. Дело в том, что приложения работают иначе, нежели веб-сайты, но при этом получать данные удобнее в структурированном формате. Примером такого формата является <span lang="en" class="calibre2">JSON</span>, который представляет из себя строку с набором полей вида </p>
	<p class="block_8"><span class="text_5">”ключ” : значение</span><span class="text_3">, который удобно воспринимается приложениями независимо от их реализации. Правила, по которым приложения взаимодействуют с сервером данных называется </span><span lang="en" class="text_3">API</span><span class="text_3">.</span></p>
	<p class="block_7">В рамках данной работы предлагается получить данные о погоде в Лондоне. Для этого необходимо набрать в адресной строке браузера следующий <span lang="en" class="calibre2">URL</span>:</p>
	<p class="block_7"><a target="_blank"  href="https://www.metaweather.com/api/location/search/?query=london" class="text_">https://www.metaweather.com/api/location/search/?query=london</a></p>
	<p class="block_7">Браузер отобразит текстовую строку, которую отправляет сервер с данными о городе. </p>
	<ul class="list_">
	<li class="block_43"><b class="calibre1">Примечание</b> Если ваш браузер не поддерживает форматирование таких запросов, то рекомендуется воспользоваться сервисом </li>
</ul>
	<p class="block_44"><a target="_blank"  href="https://jsonformatter.curiousconcept.com/" class="text_">https://jsonformatter.curiousconcept.com/</a></p>
	<p class="block_44">Использовать его можно, скопировав и вставив ссылку с запросом данных в поле ввода и нажать кнопку “<span lang="en" class="calibre2">Process</span>”, как показано на рис.2:</p>
	<p class="block_44"><img src="images/000000.png" alt="Image" class="calibre10" /></p>
	<p class="block_45"><i class="calibre7">Рис. 2. Заполнение поля для форматирования данных в виде </i><i lang="en" class="calibre7">JSON</i></p>
	<p class="block_44">Затем, после обработки, результат будет отображен ниже на странице.</p>
	<p class="block_7">Среди полей с данными, есть запись woeid, в которой содержится идентификатор города. Запишите его, потому как он понадобится для получения прогноза погоды.</p>
	<p class="block_7">Теперь необходимо получит непосредственно прогноз погоды, подставив в следующий запрос вместо скобок полученный идентификатор города:</p>
	<p class="block_7"><span class="text_13">https://www.metaweather.com/api/location/[</span><span lang="en" class="text_13">ID</span><span class="text_13"> города]/</span></p>
	<p class="block_7"> В результате сервер в ответ предоставит прогноз погоды на ближайшую неделю.</p>
	<p class="block_7">В качестве задания, требуется заполнить следующую таблицу с информацией о прогнозе погоды на завтра:</p>
	<p class="block_46">Таблица 1. Результаты интерпретации данных о погоде</p>
	<table class="table_">
		<tbody class="calibre11"><tr class="calibre12">
			<td class="td_"><p class="block_47">Измерение</p></td>
			<td class="td_1"><p class="block_47">Значение</p></td>
		</tr>
		<tr class="calibre12">
			<td rowspan="2" class="td_2"><p class="block_48">Координаты города</p></td>
			<td class="td_3"><p class="block_49">&nbsp;</p></td>
		</tr>
		<tr class="calibre12">
			<td class="td_3"><p class="block_49">&nbsp;</p></td>
		</tr>
		<tr class="calibre12">
			<td class="td_2"><p class="block_48">Максимальная температура</p></td>
			<td class="td_3"><p class="block_49">&nbsp;</p></td>
		</tr>
		<tr class="calibre12">
			<td class="td_2"><p class="block_48">Минимальная температура</p></td>
			<td class="td_3"><p class="block_49">&nbsp;</p></td>
		</tr>
		<tr class="calibre12">
			<td class="td_2"><p class="block_48">Давление</p></td>
			<td class="td_3"><p class="block_49">&nbsp;</p></td>
		</tr>
		<tr class="calibre12">
			<td class="td_2"><p class="block_48">Дальность видимости</p></td>
			<td class="td_3"><p class="block_49">&nbsp;</p></td>
		</tr>
		<tr class="calibre12">
			<td class="td_2"><p class="block_48">Скорость ветра</p></td>
			<td class="td_3"><p class="block_49">&nbsp;</p></td>
		</tr>
		<tr class="calibre12">
			<td class="td_4"><p class="block_48">Облачность</p></td>
			<td class="td_5"><p class="block_49">&nbsp;</p></td>
		</tr>
	</tbody></table>
	<p class="block_49">&nbsp;</p>
	<p class="block_19">&nbsp;</p>
	<p class="block_7">Также в возвращаемых данных от сервера можно обнаружить информацию о городе. К примеру, код страны, полное имя, а также время восхода и заката в формате <span lang="en" class="calibre2">UNIX</span>.</p>
	<ul class="list_">
	<li class="block_26"><b class="calibre1">Примечание</b> Изучить формат времени <span lang="en" class="calibre2">UNIX</span> Вы можете самостоятельно.</li>
</ul>
	<p class="block_50">Дополнительное задание</p>
	<p class="block_7">Для определения идентификатора города мы использовали следующий запрос:</p>
	<p class="block_7"><a target="_blank"  href="https://www.metaweather.com/api/location/search/?query=london" class="text_">https://www.metaweather.com/api/location/search/?query=london</a></p>
	<p class="block_7">Разберем его:</p>
	<p class="block_7">Адрес сервера, к которому мы обращаемся &ndash; это metaweather.com, а директория для запроса &ndash; это /api/location/search/. После вопросительного знака идут параметры запроса, которые в общем случае разделяются знаком амперсант (&amp;). В нашем случае у нас один параметр &ndash; <span lang="en" class="calibre2">London</span> (Лондон). Попробуйте изменить город на любой другой и составить для него таблицу прогноза погоды.</p>

</div>

</body></html>